:root{
    --gris-oscuro: #9BA4B4;
    --blanco: #F1F6F9;
    --azul-navy: #14274E;
    --azul-gris: #394867;
    /*tamaños de fuente*/

}
body{
    font-family: 'Lobster', cursive;
    margin: 0; 
}
header{
    display: flex;
    background-color: var(--gris-oscuro);
    justify-content: space-between;
}
nav{
    padding: 45px;
}
.lista{
    display: flex;
    list-style: none;
}
.lista li a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 30px;
    font-weight: bold;
}
.lista li a:hover{
    color: var(--azul-gris);
    text-decoration: underline overline;
    /* agregar linea de decoracion a las letras */
}
.lista li{
    padding: 12px;
}
.logo{
    margin: 0 0 0 24px;
}
.logo img{
    width: 120px;
    height: 180px;
}

/*seccion de cortes disponibles*/ 
.tarjetas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
}
.tarjetas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--azul-navy);
    margin: 0 20px;
    border-radius: 16px;
    width: 300px;
}
.tarjetas div:hover{
    border: solid 4px #FFD700;
}
.tarjetas div h1{
    font-size: 30px;
    font-weight: bold;
    margin: 18px 0;
}
.tarjetas div p{
    font-size: 18px;
    font-weight: lighter;
}
.tarjetas figure{
    margin: 0;
}

/* pie de pagina */
footer{
    background-color: black;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
footer img{
    width: 225px;
}